/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
*{
  padding: 0;
  margin: 0;

}
body {
    background: #F3EBE9;
    font-size: 100%;
    font-family: 'Times New Roman', serif;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    padding: 0 45px 20px;
}

/* Write all remaining styles here */

img {
    border: 5px solid #9BACA6;
}
a img{
  
  border: 5px solid #D0CECF;
}
h1{
  font-size: 80px;
  color:#9BACA6;
 font-weight: lighter;
}
h2{
  font-size: 30px;
  padding: 20px 5px;
    color:#6F7D78;
}
p{
  padding: 10px 5px;
}
a{
  text-decoration: none;
}
#footer{
  text-align: right;
  font-size: 14px;
}